@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <table class="courses-table">
        <thead>
            <tr>
                <th>CourseCode</th>
                <th>Term</th>
                <th>CourseTitle</th>
                <th>Instructor</th>
                <th>Seats</th>
                <th>Schedule</th>
                <th>Location</th>
                <th>Credits</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var course in Model.CourseData)
            {
                <tr>
                    <td>@course.CourseCode</td>
                    <td>@course.Term</td>
                    <td>@course.CourseTitle</td>
                    <td>@course.Instructor</td>
                    <td>@course.Seats</td>
                    <td>@course.Schedule</td>
                    <td>@course.Location</td>
                    <td>@course.Credits</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row">
    <form method="post">
        <div class="containter">
            <div class="row">
                <div class="col-2">
                    <div class="form-group">
                        <label for="firstName">
                            First Name
                        </label>
                        <input type="text"
                               class="form-control"
                               id="firstName"
                               placeholder="First Name"
                               asp-for="FirstName">
                    </div>

                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label for="lastName">
                            Last Name
                        </label>
                        <input type="text"
                               class="form-control"
                               id="lastName"
                               placeholder="Last Name"
                               asp-for="LastName">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group"
                <label for="email">
                    Email
                </label>
                <input type="email"
                    class="form-control"
                    id="email"
                    placeholder="Email"
                    asp-for="Email">
                </div>
                </div>
                <div class="row">
                    &nbsp;
                    <div class="col-2">
                        &nbsp;
                    </div>

                    <div class="col-2">
                        <input type="submit" />
                    </div>
                    <div class="col-4">
                        &nbsp;
                    </div>
                </div>
    </form>
</div>

